/* -------------------------
            Navbar
---------------------------- */

* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #23374D;
}
.circle-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #fff;
}

.circle2{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #1089FF;
}

h1.logo{
    margin: 30px 10px;
    color: #ffffff;
}

span#logo{
    color: #1089FF;
}
/* -------------------------
            Grid System
---------------------------- */

main.wrapper{
    grid-area: main;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". instructions instructions ."
        ". adbuilder previsualizer ."
        ". linkbuilder linkbuilder ."
        ". copylink copylink .";
}

section.instructions{
    grid-area: instructions; 
    background-color: lightsalmon;
}

section.adbuilder{
    grid-area: adbuilder;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

section.previsualizer{
    grid-area: previsualizer;
    background-color: lightgray;
}

section.linkbuilder{
    grid-area: linkbuilder;
    background-color: lightcoral;
}

section.copylink{
    grid-area: copylink;
    background-color: lightslategrey;
}

/* -------------------------
            form style
---------------------------- */


form {

max-height: 100%;
display: flex;
flex-direction: column;
width: 100%;
background-color: #fff;
position: relative;
border-radius: 5px 5px 5px 5px;

}

form::after{
    
    position: absolute;
    content: ' ';
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;

}

.form-wrapper{

    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form input{
    background-color: #E5E5E5;
    height: 50px;
    font-size: 1.5em;
    margin: 0px;
    border-style: none;
    display: flex;
    width: 100%;
    padding-right: 100px;
    padding-left: 50px;
}

input:focus{

    outline: none;
}

i{
    font-size: 1.5em;    
}

.add-bullet{

    background-color: #fff;
    height: 50px;
    font-size: 1.5em;
    margin: 0px;
    border: 5px dashed #E5E5E5;
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: 1em;

}

.add-bullet:hover{

    background-color: #fff;
    height: 50px;
    font-size: 1.5em;
    margin: 0px;
    border: 5px dashed lightblue;
    display: flex;
    width: 100%;
    font-size: 1.2em;

}

button span{

    text-align: center;
    width: 100%;
}

.bullet-add-close{

    margin-top: 0;
}

form select{

    border: 0px;
    width: 50px;
    height: 50px;
    background-color: #E5E5E5;

}

form label{

    font-size: 1.5em;

}

form fieldset{

    border: none;
    padding: 0px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

form h2{

    display: flex;
    background-color: #23374D;
    color: #fff;
    padding: 5%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 20px;
    justify-content: center;
}

.button-edit{

    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 50px;
    font-size: 0.8em;
    font-weight: bold;
    width: 50px;
    border: 0px;
    background-color: lightblue;
    cursor: pointer; 
    transition: all 0.5s ease;
    
}

.button-edit:focus{
    outline: none;
}

/* .button-edit:hover{
    font-size: 1.2em;
} */

.button-add{

    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50px;
    border: 0px;
    background-color: lightgreen;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.button-add:focus{
    outline: none;
}

/* .button-add:hover{
    font-size: 1.2em;
} */

.button-emoji{

    position: absolute;
    top: 27px;
    left: 0px;
    height: 50px;
    border: 0px;
    background-color: lightgoldenrodyellow;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-emoji:focus{
    outline: none;
}

.button-emoji:hover{
    font-size: 1.2em;
}


/* -------------------------
    EMOJI BUTTON STYLES
---------------------------- */
button > * {
    pointer-events: none;
  }

.emoji-window{
    display: none;
    position: absolute;
    top: -23px;
    left: 0px;
    background-color: lightgray;
    width: 100%;
    height: 50px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.emoji-window span{

    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid #E5E5E5;
    font-size: 1em;
    transition: all 0.5s ease;
}

.emoji-window span:hover{

    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid #E5E5E5;
    font-size: 1.5em;
}

